*.pyc
igrec_test
dsf_test
.idea
src/.idea/
build/

# cmake files
CMakeCache.txt
CMakeFiles
CMakeScripts
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake

# object files and libs
*.o
*.la
*.a
*.so
divan_test
