*.pyc
igrec_test
dsf_test
divan_test
barigrec_test
igquast_test*
.idea
src/.idea/
build/

# cmake files
CMakeCache.txt
CMakeFiles
CMakeScripts
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake

# Built packages
packages

# object files and libs
*.o
*.la
*.a
*.so

# Clion
cmake-build-*/
