io_params {
    input_params {
        input_sequences src/vdj_labeler/test/vdj_labeling.fastq
        vj_finder_config configs/vj_finder/config.info

    germlines {
         igh {
                 variable_genes src/fast_ig_tools/germline/human_walczak_blank/heavy_chain/genomicVs.fasta
                 diversity_genes src/fast_ig_tools/germline/human_walczak_blank/heavy_chain/genomicDs.fasta
                 join_genes src/fast_ig_tools/germline/human_walczak_blank/heavy_chain/genomicJs.fasta
             }
         igl {
                 variable_genes src/fast_ig_tools/germline/human/IGLV.fa
                 join_genes src/fast_ig_tools/germline/human/IGLJ.fa
             }
         igk {
                 variable_genes src/fast_ig_tools/germline/human/IGKV.fa
                 join_genes src/fast_ig_tools/germline/human/IGKJ.fa
             }
    }
    }

    output_params {
        output_dir   vdj_test
        log_filename log.properties    
    }
}

run_params {
    max_memory   250
    thread_count 16
}
