<!DOCTYPE html>



<html>
<head>
<script src="static/jquery-3.2.1.min.js"></script>
<script src="static/jQueryFileTree.min.js"></script>





<!-- Basic Page Needs
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<meta charset="utf-8">
<title>IgReC mega web-app</title>
<meta name="description" content="">
<meta name="author" content="">

<!-- Mobile Specific Metas
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<!-- <meta name="viewport" content="width=device&#45;width, initial&#45;scale=1"> -->

<!-- FONT
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<!-- <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'> -->

<!-- CSS
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<!-- <link rel="stylesheet" href="css/skeleton.css"> -->
<link rel="stylesheet" href="static/jQueryFileTree.min.css">
<!-- <link rel="stylesheet" href="css/jqft&#45;test.css"> -->
<!-- <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/styles/atelier&#45;cave.light.min.css"> -->

<!-- Favicon
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<link rel="icon" type="image/png" href="images/favicon.png" />






<!-- <script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script> -->
<!-- <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/highlight.min.js"></script> -->
<!-- <script src="//cdnjs.cloudflare.com/ajax/libs/jquery&#45;easing/1.3/jquery.easing.min.js"></script> -->
<script src="static/jQueryFileTree.min.js"></script>






<script type="text/javascript">
$(document).ready(function() {
    $('#filetree').fileTree({
        script: '/jQueryFileTree'
    }, function(file) {
        $('#merged_reads').val(file);
    });
});
</script>
</head>


<body>
    <div id="filetree"></div>
    <form method="post" action="/run_igrec">
    <input id="merged_reads" name="merged_reads" type="text">
    <!-- {% for loci in "IGH IGK IGL IG TRA TRB TRG TRD TR all".split() %} -->
    <!-- <input type="radio" name="loci" value="{{loci}}" {{'checked' if loci == 'all' else ''}}> {{loci}}<br> -->
    <!-- {% endfor %} -->

    <select name="loci">
        {% for loci in "IGH IGK IGL IG TRA TRB TRG TRD TR all".split() %}
        <option value="{{loci}}" selected="{{'selected' if loci == 'all' else ''}}"> {{loci}}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Run IgReC">
    </form>
</body>


</html>
