<!-- jQuery -->
<script src="/static/jquery-3.2.1.min.js"></script>

<!-- jQueryFileTree -->
<link rel="stylesheet" href="/static/jQueryFileTree.min.css">
<script src="/static/jQueryFileTree.min.js"></script>

<!-- bootstrap -->
<link rel="stylesheet" href="/static/bootstrap.min.css">
<link rel="stylesheet" href="/static/bootstrap-theme.min.css">
<script src="/static/bootstrap.min.js"></script>


<!-- bootstrap-select -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>


<!-- SocketIO -->
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>

<!-- plotly -->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<!-- DataTable -->
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
