{% extends 'template.html' %}
{% block title %}IgReC - report{% endblock %}
{% block body %}


<h2>IgReC report</h2>

<a href="/runs/{{output_id}}" class="btn btn-info" role="button">Output files</a>
<br>


<div id="includedContent"></div>
<script>
$(document).ready(function() {
    $("#includedContent").load("/runs/{{output_id}}/igrec.log");
});
</script>


<div id="tester" style="width:600px;height:250px;"></div>
<script>
	var TESTER = $("#tester")[0];
	Plotly.plot( TESTER, [{
	x: [1, 2, 3, 4, 5],
	y: [1, 2, 4, 8, 16] }], {
	margin: { t: 0 } } );
</script>

{% endblock %}
