{% extends 'template.html' %}
{% block title %}IgReC - task status{% endblock %}
{% block body %}

<h2>Files upload</h2>
<div class="row">
    <div class="col-lg-offset-2 col-lg-8">
        <button type="button" class="btn btn-success" aria-label="Add files" id="add-file-btn">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add file
        </button>
        <button type="button" class="btn btn-info" aria-label="Start upload" id="start-upload-btn">
            <span class="glyphicon glyphicon-upload" aria-hidden="true"></span> Start upload
        </button>
        <button type="button" class="btn btn-warning hide" aria-label="Pause upload" id="pause-upload-btn">
            <span class="glyphicon glyphicon-pause " aria-hidden="true"></span> Pause upload
        </button>
    </div>


    <div class="col-lg-offset-2 col-lg-8">
        <p>
        <div class="progress hide" id="upload-progress">
            <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" style="width: 0%">
                <span class="sr-only"></span>
            </div>
        </div>
        </p>
    </div>
</div>



<script>
    var r = new Resumable({
        target: '/upload',
        testChunks: true
    });

    r.assignBrowse(document.getElementById('add-file-btn'));

    $('#start-upload-btn').click(function(){
        r.upload();
    });

    $('#pause-upload-btn').click(function(){
        if (r.files.length>0) {
            if (r.isUploading()) {
              return  r.pause();
            }
            return r.upload();
        }
    });

    var progressBar = new ProgressBar($('#upload-progress'));

    r.on('fileAdded', function(file, event){
        progressBar.fileAdded();
    });

    r.on('fileSuccess', function(file, message){
        progressBar.finish();
        $('#pause-upload-btn').addClass('hide');
    });

    r.on('progress', function(){
        progressBar.uploading(r.progress()*100);
        $('#pause-upload-btn').removeClass('hide');
        $('#pause-upload-btn').find('.glyphicon').removeClass('glyphicon-play').addClass('glyphicon-pause');
        $('#pause-upload-btn').text("Pause upload");
    });

    r.on('pause', function(){
        $('#pause-upload-btn').removeClass('hide');
        $('#pause-upload-btn').find('.glyphicon').removeClass('glyphicon-pause').addClass('glyphicon-play');
        $('#pause-upload-btn').text("Resume upload");
    });

    function ProgressBar(ele) {
        this.thisEle = $(ele);

        this.fileAdded = function() {
            (this.thisEle).removeClass('hide').find('.progress-bar').css('width','0%');
        },

        this.uploading = function(progress) {
            (this.thisEle).find('.progress-bar').attr('style', "width:"+progress+'%');
            (this.thisEle).find('.progress-bar').removeClass('progress-bar-success').addClass('progress-bar-info');
        },

        this.finish = function() {
            this.uploading(100);
            (this.thisEle).find('.progress-bar').removeClass('progress-bar-info').addClass('progress-bar-success');
        }
    }
</script>

</body>
</html>

</div>
{% endblock %}

