input_params {
    input_reads test_dataset/merged_reads.fastq
    vj_finder_config configs/vj_finder/config.info
}

output_params {
    output_dir cdr_test
}

run_params {
    num_threads 4
}

cdrs_params {
   hcdr1_params {
       start_pos        26
       start_shift      5
       min_length       10
       max_length       12
       residues_before  C-X-X-X
       residues_after   W
    }

   hcdr2_params {
       distance_from_cdr1_end   15
       start_shift              5
       min_length               16
       max_length               19
       residues_before          L-G-W-I-G
       residues_after           K/R-L/I/V/F/W/A-W/S/I/A
    }

   hcdr3_params {
       distance_from_cdr2_end   33
       start_shift              5
       min_length               3
       max_length               25
       residues_before          C-X-X
       residues_after           W-G-X-G
    }
}
